body{
	background: #f2f2f2 !important;
}

.navbar-nav{
	margin: auto;
}

ul.lang{}
ul.lang li{
	display: inline-block;
}

ul.lang li a img{
	width: 20px;
}


.carousel-item img{
	height: 100vh;
	width: 100%;
}

.carousel-item .carousel-caption{
	top: 40%;
}

.carousel-item .carousel-caption h5{
	font-size: 5em;
	font-weight: bolder;
	margin-bottom: 30px;
}

#about{
	/*width: 100%;*/
	display: flex;
	background: #fff;
}

#about .left{
	/*width: 50%;*/
}

#about .left img{
	width: 100%;
}

#about .right{
	text-align: center;
	margin: auto;
}

#about .right h4{
	font-weight: bolder;
	font-size: 30px;
}

#about .right p{
	padding: 0 10%;
	margin-top: 20px;
}

#about .right a{
	text-decoration: none;
	border: 1px solid #f3f3f3;
	background: #00ff00;
	color: #000;
	padding: 10px;
	border-radius: 20px;
}

#about .right a:hover{

}

#mission{
	padding: 5% 10%;
	text-align: center;
}

#mission h4{
	font-weight: bolder;
	font-size: 30px;
}

#mission .card-missions{
	display: flex;
	padding: 3% 10%;
	justify-content: space-around;
}

#mission .card-missions .card-mission{
	border: 1px solid #00ff00;
	border-radius: 10px;
	margin: 0 10px;
	padding: 2em 3em;
	background: #fff;
}

#mission .card-missions .card-mission h5{
	font-weight: bolder;
	margin-bottom: 1.5em;
}

#partenaire{
	text-align: center;
	background: #00ff00;
	padding: 5%;
	color: #000;
}

#partenaire h4{
	font-weight: bolder;
	font-size: 30px;
}


#partenaire .cards-part{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#partenaire .cards-part .card-part{
	width: 15%;
	margin: 10px;
	border: 2px solid #fff;
	border-radius: 0 30%;
	padding: 20px;
	background: #fff;
	/*box-shadow: 1px 1px 20px 2px #f2f2f2;*/
}

#partenaire .cards-part .card-part img{
	width: 100%;
}

#partenaire .cards-part .card-part h5{
	bottom: 10%;
	/*position: relative;*/
}

#team{
	padding: 5% 10%;
	background: #fff;
	text-align: center;
}

#team h4{
	font-weight: bolder;
	font-size: 30px;
}

#team .members{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#team .members .member{
	border: 3px solid #00ff00;
	margin: 15px 10px;
	border-radius: 15px;
}

#team .members .member p.name{
	font-size: 18px;
	font-weight: bolder;
	line-height: 10px;
}

#team .members .member p.profil{
	color: #868686;
	font-weight: bold;
}

#team .members .member img{
	border-radius: 50%;
	/*border: 1px solid red;*/
}


#contact{
	padding: 5% 10%;
	text-align: center;
}

#contact h4{
	font-weight: bolder;
	font-size: 30px;
}

#contact .socials a{
	text-decoration: none;
	font-size: 2.5em;
	color: #31ce31;
}

#contact .socials a:hover{
	color: #00ff00;
}

footer{
	padding: 15px 0 5px;
	margin: auto;
	background: #fff;
	bottom: 0;
	left: 0;
	text-align: center;
}