/*header{
	background-image: url(/image/bg1.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	position: relative;
	z-index: 2;
}

header::after{
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,205,0,0.2);
	z-index: -2;
	position: absolute;
}*/

.fixed {
	position: fixed;
}

nav{
	background: transparent;
	z-index: 2;
}


.navbar-nav{
	margin: auto;
}

.navbar-brand{
	color: #fff !important;
	font-weight: bold;
}

.nav-item{
	border-radius: 5px;
	margin: 0 7px;
	padding: 0 7px;
	font-size: 18px;
	/*letter-spacing: 1px;*/
}

.nav-item:hover{
	text-decoration: underline;
	/*border-bottom: 2px solid #aaa;*/
}

.nav-item a{
	color: #fff !important;
}
.prestatation{
	text-align: left;
	padding: 8em 0;
	/*text-align: center;*/
}

.lang li{
	display: inline-block;
	/*margin: 0 5px;*/
}

.lang li a {
	text-decoration: none;
	margin: 0 3px;
	color: #fff;
}

/*.lang li a:hover{

}*/

.lang li a img{
	width: 20px;
}


.bd-example{
	margin-top: -4%; 
	margin-bottom: 14%;
	height: 80vh;
}

.bd-example img{
	height: 100vh;
}

.carousel-caption{
	top: 35%;
}

.carousel-caption h5{
	font-size: 5em;
	margin-bottom: 5%;
	font-weight: bolder;
}



#fleche i{
	background: #00cd00;
	color: white;
	/*border: 5px solid black;*/
	border-radius: 50%;
	/*padding: 10px ;*/
	font-size: 3em;
}

ol li{
	border-radius: 50%; 
	width: 15px !important; 
	height: 15px !important;
}

#about{
	padding: 20px 15px;
}

h4{
	text-align: center;
	font-weight: bolder;
	font-size: 30px;
	margin-bottom: 1.3em;
	text-decoration: underline;
}

/*#about img{
	height: 50%;
	width: 100%;
}*/

#mission{
	padding: 25px 20px;
}

#mission .card{
	padding: 25px 20px;
	border: 1px solid #00cd00;
}

#mission .card h5{
	font-weight: bolder;
	margin: 10px;
	margin-bottom: 2rem;
	font-size: 24px;
	text-decoration: underline;
}


#partenaires{
	margin-top: 20px;
	padding: 25px 20px;
}

.member p{
	line-height: 10px;
}

.member p.name{
	font-size: 18px;
	font-weight: bolder;
}

#contact{
	padding: 25px 20px;
}

#contact .social{
	padding: 20px;
}

#contact .social a{
	text-decoration: none;
	font-size: 30px;
	color: #00dd00;
}